In [3]:
# Functions is block of statements that perform a specific task

def sum(a,b):
    s = a+b
    return s

print(sum(2,4))

6

In [5]:
def calc_sum(a,b):
    return a+b

sum = calc_sum(2,5)
print(sum)

7

In [6]:
# calculate the average of 3 number

def calc_avg(a,b,c):
    sum = a+b+c
    avg = sum/3
    print(avg)
    return avg
calc_avg(78,78,90)

82.0

82.0

In [8]:
# default parameter

# assigning the default value to a parameter which is used when no arguement is passed

def calc_product(a=4,b=6):
    print(a*b)
    return a*b

calc_product()

24

24

In [10]:
def calc_product(a,b=8):
    print(a*b)
    return a*b

calc_product(5)

40

40

In [2]:
def average(a,b,c):
    sum=a+b+c
    avg = sum/3
    print(avg)
    return avg

average(67,87,56)

70.0

70.0

In [4]:
# print the length of the list

cities = ["Pune","Mumbai","Ndb"]

def print_len(list):
    print(cities)
    print(len(list))
    
print_len(cities)

['Pune', 'Mumbai', 'Ndb']
3

In [6]:
# print the elements of a list in a single line

cities = ["Pune","Mumbai","Ndb"]

def print_list(list):
    for item in list:
        print(item, end=" ")
        
print_list(cities)

Pune Mumbai Ndb

In [11]:
# Program : print the factorial of n

def calc_fact(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    print(fact)

calc_fact(66)

544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000

In [12]:
# USD to INR Converter

def converter(usd):
    inr = usd*83
    print(usd,"USD = ",inr,"INR")

converter(1)

1 USD =  83 INR