In [2]:
# Set : set is the collection of unordered items

# elements are immutable but set is mutable
# it contains the unique elements

# empty set
null_set=set()
print(null_set)
print(type(null_set))

set()
<class 'set'>

In [8]:
# we cannot add the list and dictionary in the set
# we can add the tuple and string in the set

collection = {1,2,3,4,5,6,7,7,8,7,5,2,2,5}
print(collection)
print(len(collection))

{1, 2, 3, 4, 5, 6, 7, 8}
8

In [9]:
fnt = {"tute","jo","tara",5,6.78,56,7,5}
print(fnt)
print(len(fnt))

{'tara', 5, 'jo', 7, 6.78, 'tute', 56}
7

In [11]:
# Set Methods 

# set.add(ele)
# adds an element

collection = {"tute","jo","tara",5,6.78,56,7,5}
collection.add(2)
collection.add(1)
print(collection)

{1, 2, 5, 6.78, 7, 'tute', 'jo', 'tara', 56}

In [12]:
# 2. set.remove(el)

# removes an element

collection = {"tute","jo","tara",5,6.78,56,7,5}
collection.add(2)
collection.add(1)
print(collection)
collection.remove("jo")
print(collection)

{1, 2, 5, 6.78, 7, 'tute', 'jo', 'tara', 56}
{1, 2, 5, 6.78, 7, 'tute', 'tara', 56}

In [13]:
# 3. set.clear

# clear the set

collection = {"tute","jo","tara",5,6.78,56,7,5}
collection.clear()
print(collection)

set()

In [15]:
# 4. set.pop()

# removes a random value

collection = {"tute","jo","tara",5,6.78,56,7,5}
collection.pop()
print(collection)

{7, 5, 6.78, 'jo', 56, 'tute'}

In [16]:
# 5. set.union(set2)

# combines both set of values and returns new

set1 ={1,2,3}
set2 ={2,3,4}
print(set1.union(set2))

{1, 2, 3, 4}

In [17]:
# 5. set.inersection(set2)

# combines common values and returns new

set1 ={1,2,3}
set2 ={2,3,4}
print(set1.intersection(set2))

{2, 3}